.retro-btn {
  font-family: 'Press Start 2P', monospace;
  font-size: 14px;
  padding: 14px 24px;
  cursor: pointer;
  text-transform: uppercase;
  image-rendering: pixelated;

  background: #000;
  color: #00ff57;
  border: 4px solid #00ff57;

  box-shadow: 0 0 12px #00ff57;
  transition: 0.12s;
}

.retro-btn:hover {
  background: #00ff57;
  color: #000;
  box-shadow: 0 0 22px #00ff57;
  transform: scale(1.03);
}

.retro-btn:active {
  transform: scale(0.98);
}

