.retro-btn {
  font-family: "Press Start 2P", monospace;
  font-size: 14px;
  padding: 12px 18px;
  border: 4px solid #000;
  background: #9bbc0f; /* GameBoy Green */
  color: #0f380f;
  cursor: pointer;
  outline: none;
  display: inline-block;

  /* pixel edges */
  box-shadow:
    0px 4px 0px #0f380f,
    -4px 0px 0px #306230,
    4px 0px 0px #306230,
    0px -4px 0px #8bac0f;
}

.retro-btn:hover {
  background: #8bac0f;
}

.retro-btn:active {
  transform: translateY(3px);
  box-shadow:
    0px 1px 0px #0f380f,
    -4px 0px 0px #306230,
    4px 0px 0px #306230,
    0px -4px 0px #8bac0f;
}