@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.retro-root {
  font-family: "Press Start 2P", monospace;
  background: #9bbc0f;
  min-height: 100vh;
  padding: 20px;
  color: #0f380f;
}